<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.whaleride.mapper.DeptMapper">
  <resultMap id="BaseResultMap" type="cn.whaleride.entity.DeptEntity">
    <constructor>
      <idArg column="dept_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="parent_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="order_num" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="del_flag" javaType="java.lang.Byte" jdbcType="TINYINT" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    dept_id, parent_id, name, order_num, del_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from rwx_dept
    where dept_id = #{deptId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from rwx_dept
    where dept_id = #{deptId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="dept_id" keyProperty="deptId" parameterType="cn.whaleride.entity.DeptEntity" useGeneratedKeys="true">
    insert into rwx_dept (parent_id, name, order_num, 
      del_flag)
    values (#{parentId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{orderNum,jdbcType=INTEGER}, 
      #{delFlag,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" keyColumn="dept_id" keyProperty="deptId" parameterType="cn.whaleride.entity.DeptEntity" useGeneratedKeys="true">
    insert into rwx_dept
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="orderNum != null">
        order_num,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null">
        #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.whaleride.entity.DeptEntity">
    update rwx_dept
    <set>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null">
        order_num = #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=TINYINT},
      </if>
    </set>
    where dept_id = #{deptId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.whaleride.entity.DeptEntity">
    update rwx_dept
    set parent_id = #{parentId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      order_num = #{orderNum,jdbcType=INTEGER},
      del_flag = #{delFlag,jdbcType=TINYINT}
    where dept_id = #{deptId,jdbcType=BIGINT}
  </update>
</mapper>